
header {
    width: 100%;
    height: 50px;
    padding: 20px 100px;
    text-align: center;
}

header h1 {
    font-size: 3em;
}


.container {
    display: flex;
    justify-content: center;
    
}

.sub-container {
    margin-top: 30px;
    margin-top: 50px;
    width: 400px;

    padding: 40px;

    border: solid 0.5px black;
    
}