
header {
    width: 100%;
    height: 50px;
    padding: 20px 100px;
    text-align: center;
}

header h1 {
    font-size: 3em;
}


.container {
    margin-top: 30px;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container li {
    font-size: 1.5em;
}

.container a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    transition: color 0.15s;
}


.container a:hover {
    color: blue;
}